{# 
    Edmond Chuc, edmond.chuc@csiro.au

    This file is part of the ckanext-scheming extension. It is required to enable hyperlinks for the "select" form snippet view. 

    This template should be named "select-link.html" and should reside in the directory 
    /usr/lib/ckan/default/src/ckanext-scheming/ckanext/scheming/templates/scheming/display_snippets/

    To enable this template, be sure to modify the presets.json file and add in:

        {
            "preset_name": "select-link",
            "values": {
            "form_snippet": "select.html",
            "display_snippet": "select-link.html",
            "validators": "scheming_required scheming_choices"
            }
        },

    then to use it, simply set the preset to "select-link" in the JSON schema file.
#}

{% if data[field.field_name]|length > 0 %}
    {% set label = h.scheming_choices_label(h.scheming_field_choices(field),data[field.field_name]) %}
    {% if label == data[field.field_name] %}
        {% set label = "The term '" + data[field.field_name] + "' is deprecated. Click for more information" %}
        <a href="{{ data[field.field_name] }}" style="border-bottom-style: dotted; border-width: 1px;">{{ label }}</a>
    {% else %}
        <a href="{{ data[field.field_name] }}">{{ label }}</a>
    {% endif %}
{% endif %}